{% extends 'TestHomeBundle::layout.html.twig' %}

{% block title -%}JOC{% endblock %}

{% block sidebar -%}

<li><a class='' href="{{ path('test_home_default_index')}}">home</a></li>
<li>about</li>
<li><a class='' href="{{ path('books')}}">publications</a></li>
<li>personal</li>
<li>public</li>
<li>contact</li>

  {% endblock %}

{% block content -%}

<h1>Judith Ortiz Cofer</h1>

    {% endblock %}
