{% extends 'TestHomeBundle::layout.html.twig' %}

{% block title -%}JOC{% endblock %}

{% block sidebar -%}

            <ul class="nav">
 <li class="">
                <a class="black" href="{{ path('test_home_default_index')}}">home</
              </li>
              <li><a class="black" href="{{ path('books')}}">publications</a></li>
              <li><a class="black" href="{{ path('test_about_default_index')}}">about</a></li>
              <li><a class="black" href="">resources</a></li>
              <li><a class="black" href="{{ path('test_contact_default_index')}}">contact</a></li>
            </ul>

    

  {% endblock %}

{% block content -%}

<p>Judith <br /> 
Ortiz <br />
Cofer <br /></p>

    {% endblock %}
