body {

	background-image: url(../images/hib-under.jpg);
  	background-repeat: no-repeat; 
	background-size:cover;
	padding:80px;
	font-family: 'Cardo', serif;

}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Cinzel', serif;
}

h1 {
	text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

#mainContainer { 
	padding: 20px; 

}


.firstcharacter {
      	float: left; 
      	color: #ff4da6; 
      	font-size: 75px; 
      	line-height: 60px;
      	padding-top: 4px; 
      	padding-right: 8px; 
      	padding-left: 3px;       
      }
#home {
	background-color:white;
	background-image:none;
	margin:0;
        padding:0;

}

#home.container {
    width: 495px;
    height: 720px;
    background-image: url(../images/hib-sent-med.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color:white;
    font-size:100px;
    line-height:150px;
    letter-spacing:0.3em;
    font-family: 'Cinzel', serif;
    text-align:center;
}​

#home.container div{	
	padding-top:100px;	
}

.sidebar {
	text-align: right;
	padding-top:30%;
}

#title {
	padding-top:25%;
}

#content h1 {
	text-align: right;
	
}

.grid {
    padding: 20px 20px 20px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
 
.grid li {
    display: inline;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background: #2c3f52;
    color: #ed4e6e;
}

.grid figcaption h4 {
    margin: 0;
    padding: 10px;
    color: #fff;
}
 
.grid figcaption span {
	padding:10px;
}
.grid figcaption span:before {
    content: 'published in ';
}
 
.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}

/* Caption Style 6 */
.cs-style-6 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-6 figure:hover img,
.cs-style-6 figure.cs-hover img {
	-webkit-transform: translateY(-50px) scale(0.5);
	-moz-transform: translateY(-50px) scale(0.5);
	-ms-transform: translateY(-50px) scale(0.5);
	transform: translateY(-50px) scale(0.5);
}

.cs-style-6 figcaption {
	height: 100%;
	width: 100%;
}

.cs-style-6 figcaption h4 {
	margin-top: 92%;
}

.cs-style-6 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}



