{% extends 'TestAboutBundle::layout.html.twig' %}

{% block sidebar -%}

<li>A</li>
<li>B</li>
<li>O</li>
<li>U</li>
<li>T</li>



  {% endblock %}

{% block content -%}

<img class="img-polaroid" src="http://www.english.uga.edu/cwp/images_people/cofer_250_375.jpg" alt="JOC">

<div id="about">

<p><span class="firstcharacter">B</span>orn in Puerto Rico and raised in Paterson, New Jersey, Judith Ortiz Cofer now makes her home in Georgia . She is the author of <i>A Love Story Beginning in Spanish: Poems</i> (2005); <i>Call Me Maria</i> (2006), a young adult novel; <i>The Meaning of Consuelo</i> (2003), a novel; <i>Woman in Front of the Sun: On Becoming a Writer</i> (2000), a collection of essays; <i>An Island Like You: Stories of the Barrio</i> (1995), a collection of short stories; <i>The Line of the Sun</i> (1989), a novel; <i>Silent Dancing</i> (1990), a collection of essays and poetry; two books of poetry, <i>Terms of Survival</i> (1987) and <i>Reaching for the Mainland</i> (1987); and <i>The Latin Deli: Prose and Poetry</i> (1993).</p>

<p>Her work has appeared in <i>The Georgia Review</i>, <i>Kenyon Review</i>, <i>Southern Review</i>, <i>Glamour</i> and other journals. Her work has been included in numerous textbooks and anthologies including: <i>Best American Essays 1991</i>, <i>The Norton Book of Women's Lives</i>, <i>The Norton Introduction to Literature</i>, <i>The Norton Introduction to Poetry</i>, <i>The Heath Anthology of American Literature</i>, <i>The Pushcart Prize</i>, and the <i>O. Henry Prize Stories</i>.</p>

<p>She has received numerous awards and honors for her writing.  Most recently, in 2005, <i>The Latin Deli</i> was selected for the Georgia Center for the Book’s Georgia Top 25 List, a reading list composed of books set in Georgia or written by a resident or former resident of the state.  Also in 2005, <i>Call Me Maria</i> was selected as one of two texts to receive Honorable Mention for the Américas Award.  Sponsored by the National Consortium of Latin American Studies Programs, the Américas Award is given to titles published in the United States that authentically and engagingly portray Latin America, the Caribbean, or Latinos in the U.S.</p>

<p>Additionally, <i>The Meaning of Consuelo</i> was selected as one of two winners of the 2003 Américas Award and was included on the New York Public Library's "Books for the Teen Age 2004 List."  The New York Public Library also named Judith Ortiz Cofer’s first novel, <i>The Line of the Sun</i>, an Outstanding Book of the Year in 1989.  Her Young Adult short story collection, <i>An Island Like You</i>, received the inaugural Pura Belpré Prize from the American Library Association in 1996, as well as several other awards in Young Adult literature.  In addition, she has received over 30 fellowships and grants, including awards from the University of Georgia Research Foundation, the University of Georgia Center for the Humanities and Arts, the Rockefeller Foundation, and the National Endowment for the Arts.  She received an honorary doctorate in Humane Letters from Lehman University, New York, on May 31, 2007.</p>
</div>

    {% endblock %}
