{# contacts default page#}

{% extends 'TestContactBundle::layout.html.twig' %}

{% block sidebar -%}

<li>C</li>
<li>O</li>
<li>N</li>
<li>T</li>
<li>A</li>
<li>C</li>
<li>T</li>


{% endblock %}


{% block content -%}

<div class="span6">

<h5>To reach the author:</h5>
<p><i class="icon-envelope"></i>  P.O. Box 49339, Athens, GA 30604</p>
<p><i class="icon-reply"></i>  jocofer@uga.edu</p>
<div class="span4">
<hr>
</div>
</div>
<div class="span6">
<h5>To schedule readings and programs:</h5>
<p><i class="icon-envelope"></i>  P.O. Box 2599, Athens, GA 30612</p>
<p><i class="icon-reply"></i>  jocofer@aol.com</p>
<div class="span4">
<hr>
</div>
</div>
<div class="span6">
<h5>To order books:</h5>
<p><i class="icon-book"></i>  All books<a href="http://www.amazon.com/Judith-Ortiz-Cofer/e/B001HCXY7Q/ref=sr_ntt_srch_lnk_1?qid=1300214740&sr=8-1"> from Amazon</a></p>
<p><i class="icon-book"></i>  A Love Story Beginning in Spanish<a href="http://www.ugapress.org/index.php/books/love_story/"> from UGA Press</a></p>
<p><i class="icon-book"></i>  Call Me Maria<a href="http://shop.scholastic.com/shop/ProductDisplayView?storeId=10751&productId=87703&urlRequestType=Base&langId=-1&catalogId="> from Scholastic</a></p>
<p><i class="icon-book"></i>  The Meaning of Consuelo<a href="http://us.macmillan.com/themeaningofconsuelo/JudithCofer"> from Farrar, Strauss & Giroux</a></p>
<p><i class="icon-book"></i>  The Meaning of Consuelo<a href="http://www.beacon.org/productdetails.cfm?PC=1716"> paperback from Beacon Press</a></p>
<p><i class="icon-book"></i>  Woman in Front of the Sun<a href="http://www.ugapress.org/index.php/books/woman_in_front_of_sun/"> from UGA Press</a></p>
<p><i class="icon-book"></i>  Mujer Frente al Sol, trans. by Elena Olazagasti-Segovia<a href=""> from UGA Press</a></p>
<p><i class="icon-book"></i>  Sleeping with One Eye Open <a href="http://www.ugapress.org/index.php/books/sleeping_with_one_eye_open/"> from UGA Press</a></p>
<p><i class="icon-book"></i>  An Island Like You<a href="http://www.scholastic.com/teachers/book/island-you"> from Scholastic</a></p>
<p><i class="icon-book"></i>  The Latin Deli<a href="http://books.wwnorton.com/books/978-0-393-31313-0/"> from W. W. Norton & Co</a></p>
<p><i class="icon-book"></i>  El deli latino<a href="http://www.ugapress.org/index.php/books/deli_latino/"> from UGA Press</a></p>
<p><i class="icon-book"></i>  The Line of the Sun<a href="http://www.ugapress.org/index.php/books/line_of_sun/"> from UGA Press</a></p>
<p><i class="icon-book"></i>  Reaching for the Mainland<a href="http://www.asu.edu/brp/backlist/poetry/JOCof1r.html"> from Bilingual Review</a></p>
<p><i class="icon-book"></i>  JOC in the Classroom<a href="https://secure.ncte.org/store/judith-ortiz-cofer-in-the-classroom"> from NCTE</a></p>
<p><i class="icon-book"></i>  Lessons from a Writer's Life<a href="http://www.heinemann.com/products/E03146.aspx"> from Heinemann</a></p>
<p><i class="icon-book"></i>  If I Could Fly<a href="http://us.macmillan.com/ificouldfly/JudithCofer"> from Farrar, Straus and Giroux</a></p>


</div>
{% endblock %}
